<div class="dialog-header">
    Upload
</div>
<div class="content-cont">
    <input style="display: none;" #input hidden="true" multiple type="file" onclick="this.value=null" (change)="filesSelected($event)" accept=""/>
    <button mat-flat-button color="primary" (click)="input.click()">Dateien auswählen</button>       
</div>
<div>
    <table style="margin: 20px 0">
        <tr *ngFor="let f of files">
            <td>{{f.name}}</td>
        </tr>
    </table>
</div>
<div class="controls">
    <button mat-raised-button color="primary" (click)="ok()">Upload</button>
    <button mat-raised-button (click)="cancel()">Abbrechen</button>
</div>