<h1>Benutzer</h1>
<div class="w90">
    <mat-form-field>
        <mat-label>Suche</mat-label>
        <input type="text" [(ngModel)]="searchterm" (keyup)="onSearch()" matInput placeholder="Suche (username und Email)" />
    </mat-form-field>
    <br />
    <br />
</div>
<table class="jabog32 w90">
    <tr>
        <th>Name</th>
        <th>EMail</th>
        <th>Mit Forum verknüpft?</th>
        <th class='actions'></th>
    </tr>
    <tr *ngFor="let item of filteredUsers; let i = index">
       <td>{{ item.userName }}</td>
       <td>{{ item.email }}</td>
       <td><fa-icon icon="check" *ngIf='item.forumUserId != 0'></fa-icon></td>
       <td class='actions'>
           <a (click)='addOrEdit(item)'><fa-icon icon='edit'></fa-icon></a>
           <a (click)='delete(item.id)'><fa-icon icon='trash'></fa-icon></a>
       </td>
    </tr>
</table>
