<div class="container-fluid body-content">
    <h2>Passwort ändern</h2>
    <div class="row">
        <div class="col-md-12">
            <section id="loginForm">
                <form class="form-horizontal" method="post" role="form" novalidate="novalidate"><input name="__RequestVerificationToken" type="hidden" >                
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="oldPassword">Aktuelles Passwort</label>
                        <div class="col-md-10">
                            <input class="form-control" data-val="true" data-val-required="The Benutzername field is required." id="oldPassword" name="oldPassword" type="password" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="oldPassword" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="password">Neues Passwort</label>
                        <div class="col-md-10">
                            <input class="form-control" data-val="true" data-val-required="The Benutzername field is required." id="password" name="password" type="password" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="password" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="password2">Passwort wiederholen</label>
                        <div class="col-md-10">
                            <input class="form-control" data-val="true" data-val-required="The Password field is required." id="password2" name="password2" type="password">
                            <span class="field-validation-valid text-danger" data-valmsg-for="password2" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Zurücksetzen" class="btn btn-default">
                        </div>
                    </div>
                    {{#if msg }}
                        <h1>{{ msg.text }}</h1>
                    {{/if}}
                </form>
            </section>
        </div>
    </div>
</div>
