<div class="container-fluid body-content">
    <h2>Registrierung abgeschlossen</h2>
    <div class="row">
        <div class="col-md-12">
            <section>
                Die Registrierung ist abgeschlossen. Eine Email sollte Dich in kürze an der angegebenen Email erreichen.
                Du kannst dich bereits anmelden.
            </section>
        </div>
    </div>
</div>