<div class="container-fluid body-content">
    <h2>Registrieren</h2>
    <div class="row">
        <div class="col-md-12">
            <section>
                <form class="form-horizontal" method="post" role="form" novalidate="novalidate">
                    <h4>Neues Konto erstellen</h4>
                    <hr>
                <div class="validation-summary-valid text-danger" data-valmsg-summary="true"><ul><li style="display:none"></li>
                </ul></div>    <div class="form-group">
                        <label class="col-md-2 control-label" for="UserName">Benutzername</label>
                        <div class="col-md-10">
                            <input class="form-control" data-val="true" data-val-required="The Benutzername field is required." id="userName" name="userName" type="text" value="{{ data.userName }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="email">Email</label>
                        <div class="col-md-10">
                            <input class="form-control" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="email" name="email" type="text" value="{{ data.email }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="Password">Passwort</label>
                        <div class="col-md-10">
                            <input class="form-control" data-val="true" data-val-length="The Passwort must be at least 6 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The Passwort field is required." id="password" name="password" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="ConfirmPassword">Confirm password</label>
                        <div class="col-md-10">
                            <input class="form-control" data-val="true" data-val-equalto="The password and confirmation password do not match." data-val-equalto-other="*.Password" id="confirmPassword" name="confirmPassword" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Registrieren">
                        </div>
                    </div>
                    {{#if data.error}}
                        <h1>{{ data.error }}</h1>
                    {{/if}}
                </form>
            </section>
        </div>
    </div>
</div>