<h1>Statische Seiten</h1>
<div class="w90">
</div>
<table class="w90 jabog32">
    <tr>
        <th>Seite</th>
        <th>Titel</th>
        <th>Zuletzt geändert am</th>
        <th>Zuletzt geändert von</th>
        <th width=1></th>
    </tr>
    <tr *ngFor="let item of pages$ | async; let i = index">
       <td>{{ item.name }}</td>
       <td>{{ item.title }}</td>
       <td>{{ item.modifiedAt | date : 'dd.MM.yy HH:mm' }}</td>
       <td>{{ item.modifiedBy?.userName }}</td>
       <td>
           <a routerLink='/pages/{{ item.id }}'><fa-icon icon='edit'></fa-icon></a>
       </td>
    </tr>
</table>
