<h1>Piloten</h1>
<div class="w90">
    <button mat-raised-button (click)="addOrEdit()"><fa-icon icon="plus"></fa-icon></button>
    <br />
    <br />
</div>
<table class="jabog32 w90">
    <tr>
        <th>Pilot</th>
        <th>Erstmuster</th>
        <th>Rang</th>
        <th>Zuletzt geändert am</th>
        <th>Zuletzt geändert von</th>
        <th class='actions-3'></th>
    </tr>
    <tr *ngFor="let item of pilot$ | async; let i = index">
       <td>{{ item.user.userName }}</td>
       <td>{{ item.firstAircraft?.name }}</td>
       <td>{{ item.rank?.name }}</td>
       <td>{{ item.modifiedAt | date : 'dd.MM.yy HH:mm' }}</td>
       <td>{{ item.modifiedBy?.userName }}</td>
       <td class='actions'>
           <a (click)='changeBadges(item)'><fa-icon icon='medal'></fa-icon></a>
           <a (click)='addOrEdit(item)'><fa-icon icon='edit'></fa-icon></a>
           <a (click)='delete(item.id)'><fa-icon icon='trash'></fa-icon></a>
       </td>
    </tr>
</table>
